/* 复用的样式组件 */
.weui-btn {
     position: relative;/*内部元素定位 */
     display: block;/*行内-》块级*/
     width: 184px;
     margin-left: auto;
     margin-right: auto;
     padding: 8px 24px;
     font-weight: 700;
     font-size: 17px;
     text-align: center;
     color: #fff;
     line-height: 1.88235294;
     border-radius: 8px;

}
.weui-btn_primary{
    background-color: rgb(7, 250, 7);
    
}
.weui-btn_primary:active{
    background-color: rgb(214, 241, 12);
}
.weui-btn_warn{
    background-color: rgba(113, 103, 103, 0.847);
    color: rgba(252, 4, 4, 0.5);
}
.weui-btn + .weui-btn{
    margin-top: 10px;
}
#lw{
    background-color: rgb(70, 16, 231);
}
